@{
    ViewBag.Title = "Messianic Chords: Messiah's music. Lyrics and chords. On the opened web.";
}

<div class="legal">
    <p>
        <img src="@Url.Content("~/content/judah.jpg")" style="border-radius: 200px; max-width: 200px; max-height: 200px; float: left; margin: 30px; box-shadow: 0 0 10px 2px gray;" />
    Hi, folks!<br /> 
    <br /> 
    <a href="http://judahgabriel.blogspot.com">Judah Gabriel Himango</a> here, author of MessianicChords.com.<br />
    <br />
    I hope you all find this site useful! MessianicChords.com is a non-profit website designed to benefit Messiah's disciples and amplify Messianic music. I don't accept advertising, nor do I make any money off this site. It is entirely a labor of love for the benefit of the Messianic community.<br />
    <br />
    I trust copyright holders recognize the good in spreading their lyrics and chords over the opened web. Even so, I recognize that some authors may not wish to have their lyrics or chords freely available. I respect such wishes. If you are the copyright owner of any of the chord sheets found on this site, and you wish to have your chord sheets removed from this site, please contact me at <a href="mailto:judahgabriel@gmail.com">judahgabriel@gmail.com</a>, and I'll remove chords for your songs from this site without hesitation.<br />
    <br />
    And to those many artists who have contributed their chord sheets to this site, or otherwise approved having their chords on the opened web - THANK YOU! <br />
    <br />
    I also want to make it clear that some of the artists on this website are Jewish, not Christian or Messianic. I have accepted such chord sheets because they are part of our Jewish heritage and because they sing the words of the Scriptures, especially the psalms. In such things, there is only edification.<br />
    <br />
    Shalom, 
    <br />-Judah
    </p>
</div>