@page "/browse/songs"
@page "/home/songs"
@inject MessianicChords.Services.ChordSheetService chordsService

<div class="d-flex flex-wrap justify-content-center">
    @foreach (var chordSheet in chords.Items)
    {
        <ChordCard ChordSheet="@chordSheet"></ChordCard>
    }
</div>

<div class="d-grid mt-4 mb-5 col-lg-3 col-md-4 mx-auto">
    <LoadMoreButton List="@chords"></LoadMoreButton>
</div>


@code {
    private PagedList<ChordSheet> chords;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        this.chords = new PagedList<ChordSheet>((skip, take) => this.chordsService.GetBySongName(skip, take), () => this.StateHasChanged());
        this.chords.Take = 100;
        await this.chords.GetNextChunk();
    }
}
