@page "/privacy"
@model MessianicChords.Pages.PrivacyModel
@{
}


<h1>Privacy Policy</h1>
<p>
    MessianicChords doesn't store any personally identifiable information. We don't use or sell user data. We don't share any information about you with 3rd parties.
</p>