body {
    padding-top: 60px;
}

.home-page .new-chords {
    justify-content: center;
    flex-direction: row;
    align-items: baseline;
}

@media (max-width: 575px) {
    .home-page .new-chords {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
}

.home-page .new-chords a {
    padding-left: 5px;
    padding-right: 5px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lora', serif;
}

    /* On phones and tablets, make the search container margin cancel out the parent's padding */
    @media (max-width: 767px) {
        .search-container {
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    .search-container .search-box-brace {
        font-size: 100px;
        padding: 10px;
        color: brown;
        text-shadow: 1px 1px 1px gray;
        vertical-align: text-bottom;
    }

#search-box {
    line-height: 50px;
    width: 500px;
    border: 1px solid rgba(0, 0, 0, 0.0976563);
    height: 100px;
    padding-left: 10px;
    color: #0b0974;
    font-size: 32px;
    margin-top: 20px;
}

    @media (max-width: 575px) {
        #search-box {
            width: 90%;
        }
    }

::placeholder {
    color: rgb(192, 192, 192) !important;
    font-style: italic;
    font-family: serif;
    font-size: 24px !important;
}

.upload-browse-container {
    display: flex;
    justify-content: center;
}

.grouped-results-header {
    color: #0b0974;
    font-family: 'Homemade Apple', cursive;
    font-size: 32px;
    text-shadow: 1px 1px 1px silver;
    padding-left: 20px;
    display: inline-block;
    background: linear-gradient(to bottom, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* W3C */
    border-radius: 60px 30px 35px 15px / 25px 38px 66px 53px;
    box-shadow: 2px 2px 30px rgba(255,214,94,.9);
    transform: rotateZ(-1deg);
    transition: box-shadow 1s ease-out;
}

.search-results-container {
    display: flex;
    margin-top: 50px;
    width: 100%;
    margin-left: 100px;
}

@media (max-width: 575px) {
    .search-results-container {
        margin-left: 0;
    }
}

.search-result {
    text-align: left;
    margin: 10px 30px 10px 30px;
    padding: 10px;
    float: left;
    width: 18em;
    cursor: pointer;
    transition: all linear 0.2s;
}

    .search-result:hover {
        background-color: rgba(0, 0, 0, .03);
        box-shadow: 0 0 10px 0 silver;
    }

    .search-result .artist {
        font-size: 16px;
        color: #0B0974;
        text-decoration: none;
    }

    .search-result .song-name,
    .search-result .hebrew-song-name {
        font-size: 26px;
        color: Brown;
        text-decoration: none;
        text-shadow: 1px 1px 1px silver;
        font-family: 'Homemade Apple', cursive;
    }

        .search-result .hebrew-song-name {
            direction: rtl;
            text-align: right;
        }

    .search-result label {
        color: black;
    }

.button {
    color: #666;
    height: 30px;
    line-height: 30px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.0976563);
    text-align: center;
    vertical-align: middle;
    margin: 10px;
    border-radius: 2px;
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
}

    .button a {
        text-decoration: none;
        color: inherit;
    }

    .button:hover {
        color: #333;
        border-color: #C6C6C6;
        background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(250,250,250,1) 100%); /* W3C */
    }

a {
    text-decoration: none;
    color: #0B0974;
}

    a:hover {
        color: brown;
    }

.button a:hover {
    color: inherit;
}

#title {
    display: block;
    text-align: center;
}

    #title a {
        text-decoration: none;
    }

h1 {
    color: #0b0974;
    font-family: 'Homemade Apple', cursive;
    font-size: 52px;
    text-shadow: 1px 1px 1px silver;
    font-weight: bold;
}

h2 {
    text-align: center;
    color: #ffaa00;
    font-size: 27px;
    text-shadow: 1px 1px 1px gray;
    font-weight: bold;
}

h3 {
    color: #0b0974;
    font-family: 'Homemade Apple', cursive;
    font-size: 32px;
    text-shadow: 1px 1px 1px silver;
}

footer a {
    margin: 5px;
    vertical-align: middle;
}

.legal p {
    padding-left: 25%;
    margin-top: 70px;
    width: 50%;
    font-size: 15px;
}

.legal img {
    float: left;
    margin: 15px;
}

.site-text {
    font-family: 'Lora', serif;
}

.legal p, 
.search-box-brace, 
.search-text, 
.chord-page-options .btn-link, 
.search-result .artist, 
.search-result label, 
.search-result .key, 
.upload-container, 
h2, 
a {
    font-family: 'Lora', serif;
}

.chord-page-options .btn-link {
    text-decoration: none;
    color: #0B0974;
    padding: 0;
    margin: -5px 0 0 0;
    border: none;
}

.ellipsis-overflow {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bar-separator {
    font-size: 16px;
    font-family: 'Lora', serif;
}

/*Print*/
@media print {
    h1, header, footer, .chord-page-options {
        display: none;
    }
}


#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.chord-details-page #g-doc-frame {
    width: 824px;
}

@media (max-width: 575px) {
    .chord-details-page #g-doc-frame {
        width: 100%;
    }
}