#search-container {
    text-align: center;
}

    #search-container .search-box-brace {
        font-size: 100px;
        padding: 10px;
        color: brown;
        text-shadow: 1px 1px 1px gray;
        vertical-align: text-bottom;
    }

#search-box {
    line-height: 50px;
    width: 500px;
    vertical-align: text-bottom;
    border: 1px solid rgba(0, 0, 0, 0.0976563);
    height: 100px;
    padding-left: 10px;
}

.search-text {
    color: #0b0974;
    font-size: 32px;
}

.prompt-text {
    color: silver;
    font-style: italic;
    font-family: Serif;
    font-size: 24px;
}

.grouped-results-header {
    color: #0b0974;
    font-family: 'Homemade Apple', cursive;
    font-size: 32px;
    -webkit-text-shadow: 1px 1px 1px silver;
    text-shadow: 1px 1px 1px silver;
    padding-left: 20px;
    line-height: 15px;
    margin-left: 7%;
    display: inline-block;
    background: rgb(255,214,94); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,214,94,1) 0%, rgba(254,191,4,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,214,94,1)), color-stop(100%,rgba(254,191,4,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 ); /* IE6-9 */
    border-radius: 60px 30px 35px 15px / 25px 38px 66px 53px;
    -webkit-box-shadow: 2px 2px 30px rgba(255,214,94,.9);
    box-shadow: 2px 2px 30px rgba(255,214,94,.9);
    -moz-transform: rotateZ(-1deg);
    -ms-transform: rotateZ(-1deg);
    -o-transform: rotateZ(-1deg);
    -webkit-transform: rotateZ(-1deg);
    transform: rotateZ(-1deg);
    -moz-transition: box-shadow 1s ease-out;
    -o-transition: box-shadow 1s ease-out;
    -webkit-transition: box-shadow 1s ease-out;
    transition: box-shadow 1s ease-out;
}

.search-results-container {
    margin-top: 50px;
    width: 100%;
    margin-left: 100px;
}

.search-result {
    text-align: left;
    margin: 0 30px 0 30px;
    padding: 10px;
    float: left;
    width: 25%;
}

    .search-result .artist {
        font-size: 16px;
        color: #0B0974;
        text-decoration: none;
    }

    .search-result .song-name {
        font-size: 26px;
        color: Brown;
        text-decoration: none;
        -webkit-text-shadow: 1px 1px 1px silver;
        text-shadow: 1px 1px 1px silver;
    }

    .search-result label {
        color: black;
    }

.button {
    color: #666;
    height: 30px;
    line-height: 30px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.0976563);
    text-align: center;
    vertical-align: middle;
    margin: 10px;
    border-radius: 2px;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

    .button a {
        text-decoration: none;
        color: inherit;
    }

    .button:hover {
        color: #333;
        border-color: #C6C6C6;
        background: rgb(255,255,255); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(250,250,250,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(250,250,250,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(250,250,250,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(250,250,250,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(250,250,250,1) 100%); /* IE10+ */
        background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(250,250,250,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
    }

.upload-container {
    margin-top: 15px;
}

    .upload-container iframe {
        border-style: none;
        width: 300px;
    }

a {
    text-decoration: none;
    color: #0B0974;
}

    a:hover {
        color: brown;
    }

.button a:hover {
    color: inherit;
}

#title {
    display: block;
    text-align: center;
}

    #title a {
        text-decoration: none;
    }

h1 {
    color: #0b0974;
    font-family: 'Homemade Apple', cursive;
    font-size: 52px;
    -webkit-text-shadow: 1px 1px 1px silver;
    text-shadow: 1px 1px 1px silver;
}

h2 {
    text-align: center;
    color: #ffaa00;
    margin-top: -60px;
    font-size: 27px;
    -webkit-text-shadow: 1px 1px 1px gray;
    text-shadow: 1px 1px 1px gray;
}

h3 {
    color: #0b0974;
    font-family: 'Homemade Apple', cursive;
    font-size: 32px;
    -webkit-text-shadow: 1px 1px 1px silver;
    text-shadow: 1px 1px 1px silver;
}

footer div {
    text-align: center;
    bottom: 50px;
    margin-top: 100px;
}

footer a {
    margin: 5px;
    vertical-align: middle;
}

.legal p {
    padding-left: 25%;
    margin-top: 70px;
    width: 50%;
    font-size: 15px;
}

.legal img {
    float: left;
    margin: 15px;
}

.site-text {
    font-family: 'Lora', serif;
}

.legal p, #search-container .search-box-brace, .search-text, .search-result .artist, .search-result label, .search-result .key, .upload-container, h2, a {
    font-family: 'Lora', serif;
}

.ellipsis-overflow {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bar-separator {
    font-size: 16px;
    font-family: 'Lora', serif;
}

/*Print*/
@media print {
    h1, footer, .chord-page-options {
        display: none;
    }
}
